<!--
Editors: Zarko Cosovic
-->

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X937XJ9BX8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X937XJ9BX8');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Team 7: Zarko Cosovic</title>
    <!-- Including the stylesheet -->
    <link rel="stylesheet" href="../src/stylesheets/about_us_stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../src/functions/searchFunctions.js"></script>

</head>
<body>
    <div class = "header">
        <img src = "../images/logo.png" width="500" height="150">
        <h1 class = "title">Team 7: Zarko Cosovic</h1>
        <h5 class = "disclaimer">"SFSU Software Engineering Project CSC 648-848, Fall 2024. For Demonstration Only"</h5>
    </div>
    <nav>
        <ul class="navBar">
            <li><a href="/"><i class="fa-solid fa-house" style="font-size: 36px;"></i></a></li><li class="search-container">        
                <div class="container">
                    <div class="search-container">
                        <!-- Dropdown for Department -->
                        <select type="search-dropdown" id="department" onchange="" >
                            <option value="">All</option>
                                <% subject.forEach(subject => { %>
                                <option value="<%= subject.name %>"><%=subject.name %></option>
                            <% }); %>
                            
                        </select>
                        <!-- Search Button -->

                        <div>
                            <input type="search-bar" name="query" id="description" placeholder="Search For Tutors" maxlength="40">
                        </div>
                    </div>
                    <button type="search-btn" onclick="performSearch()">&#x1F50D</button></div>	
                </div>
            
            </li>
            <li><a href="/tutor_application">Tutor Application</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/about-us">About Us</a></li>


            <!-- If user is logged in -->
            <!-- Present the logout button -->
            <% if (user) { %> 
                <li><a href="/logout">Logout</a></li> 
            <% } else { %> 
            <!-- If not then present the login and registration button -->
                <li><a href="/login">Login</a></li>
                <li><a href="/registration">Register</a></li>
            <% } %>
        </ul>
    </nav>

    <br>
    <img src = "../images/Zarko_Cosovic.jpg" width="500" height="150">
        
       
			
    </div>
    <br><br>
</body>
<footer>
    <div class="footer">
        <div class="person1"><p><br></p></div>
    </div>
</footer> 
</html>